body, html
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container
{
  width: 100%;
  height: 100vh;
  /* background-color: red; */
} 
.appbar
{
  margin: 0%;
  padding: 0%;
  /* background-color: aqua; */
  width: 100%;
  height: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.left-appbar 
{
  margin: 10px;
  padding: 10px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

li
{
  /* background-color: aqua; */
  margin-left: 10%;
  font-size: 14px;
}

.apps
{
  background-color: black;
  height: 20px;
  width: 20px;
}

.right-appbar
{
  margin: 10px;
  padding: 10px;
  /* background-color: pink; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
nav ul li 
{
  display: inline;
}
nav ul li button
{
  width: 60px;
  color: white;
  background-color: rgb(36, 74, 245);
  border: 1px solid rgb(234, 228, 228);
}

.mainContent
{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

.google
{
  /* font-size: 5px; */
  height: 70px;
  /* position: absolute;
  left: 50%; */
  /* text-align: center; */
}

.search
{
  height: 30px;
  padding: 10px;
  position: relative;
  display: inline-block;
}

.searchbtn
{
  position: absolute;
  top: 50%;
  right: 450px; /* Adjust the positioning of the image */
  width: 10px;
  height: 10px;
}
.googlevoicebtn
{
  position: absolute;
  top: 50%;
  right: 50px; /* Adjust the positioning of the image */
  width: 20px;
  height: 20px;
}
.googleimagebtn
{
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust the positioning of the image */
  width: 20px;
  height: 20px;
}
.search input[type="text"] {
  padding-right: 300px; 
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(234, 228, 228);
  border-radius: 20px;/* Adjust the padding to accommodate the image */
}

.button button
{
  margin: 10px;
  border-radius: 3px;
  padding: 6px;
  border: 1px solid rgb(234, 228, 228);
}

.footer
{
  margin: 0%;
  padding: 0%;
  /* background-color: aqua; */
  width: 100%;
  height: 5%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.left-footer
{
  margin: 10px;
  padding: 10px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.right-footer
{
  margin: 10px;
  padding: 10px;
  /* background-color: pink; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.use-google-as
{
  width: 90px;
}
/* 
.Parent
{
  width:500px;
  height:500px;
  background-color: aqua;
}

.Child1,Child2
, Child3, Child4
{ 
  margin: 10px;
  width:50px;
  height:50px;
  background-color: red;
} */

/* 
.Child2
{
  transform: translate(100px,100px);
  margin: 10px;
  width:50px;
  height:50px;
  background-color: red;
}


.Child3
{
  margin: 10px;
  width:50px;
  height:50px;
  background-color: red;
}


.Child4
{
  margin: 10px;
  width:50px;
  height:50px;
  background-color: red;
} */







